@font-face {
    font-family: 'Spoof';
    src: url('Spoof-Regular.eot');
    src: url('Spoof-Regular.eot?#iefix') format('embedded-opentype'),
        url('Spoof-Regular.woff2') format('woff2'),
        url('Spoof-Regular.woff') format('woff'),
        url('Spoof-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

