<template>
  <div>
    <div class="category">Hosted Projects</div>

    <a href="https://savoie.misitioba.com" target="_blank">Savoie Tech Coop</a>
    <p>
      Tech cooperative in Savoie (French region) offering distributed, free (as
      in freedom) services to the world.
    </p>
    <p>
      We believe that building, owning and controlling technology is important.
      Hackers and Open Source communities have an opportunity and a
      responsibility to offer an alternative, to offer services and tools that
      people can trust. Beyond corporate control, that comes with tracking and
      data farming. Decentralized services and tools that respect users privacy
      by default.
    </p>

    <a
      href="https://savoie.misitioba.com/outils-web/reservation-de-paniers"
      target="_blank"
      >Panier Libre (Self-hosted web app)</a
    >
    <p>Panier Libre maintainer and instance hosting.</p>

    <a href="https://incubadoraitinerante.misitioba.com/" target="_blank"
      >Incubadora Itinerante</a
    >
    <p>
      Travel project (2018) to help local organizations with business and
      software development inhouse in exchange of accommodation.
    </p>

    <a href="https://mfc.misitioba.com/" target="_blank"
      >Montpellier International Football Club</a
    >
    <p>Organize weekly matches.</p>

    <a href="https://github.com/misitioba/rdv-check" target="_blank"
      >VISA Appointment scrapper (Montpellier, France)</a
    >
    <p>
      An automated script collects a picture from the official Prefecture
      website from Montpellier, France, each 30 minutes, to shown the lack of
      RDV (meeting availabilities) to initiate the procedure for a VISA permit.
    </p>
    <!--
    <div class="category">Hosted websites</div>

    <a  href="https://www.enbauges.com/" target="_blank">Enbauges.com</a>
    <p>Bon Beau en Bauges its a blog listing local productors in Savoie, France.</p>
-->

    <div class="category">More</div>

    <a href="https://coopdescommuns.org/fr/association/" target="_blank">
      Coop des communs (France)
    </a>
    <a
      href="https://www.youtube.com/watch?v=gGeevtdp1WQ&t=106m15s"
      target="_blank"
    >
      Is Capitalism Devouring Democracy?
    </a>
    <a href="https://www.linkedin.com/in/arancibiajav/" target="_blank"
      >LinkedIn</a
    >
    <a class="contact" href="mailto:arancibiajav@gmail.com" target="_blank"
      >Contact</a
    >
  </div>
</template>

<script>
export default {
  components: {},
  head() {
    return {
      title: "Home"
    };
  },
  mounted(c) {
    if (process.client) {
      import("postscribe").then(postscribe => {
        postscribe.default(
          this.$refs.liberapay_widget,
          '<script src="https://liberapay.com/misitioba/widgets/button.js"><\/script>'
        );
      });
    }
  }
};
</script>

<style lang="scss" scoped>
ul {
  margin-top: 10px;
}
.category {
  font-size: 30px;
  color: grey;
  margin-top: 20px;
}
.contact {
  color: var(--main-color);
  font-size: 30px;
  margin-top: 20px;
  display: block;
}
.liberapay_widget {
  margin-top: 15px;
}
</style>
